*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: antiquewhite;
}
.container{
    max-width: 1280px;
    margin: 0;
}
img{
    height: 70%;
}
header{
    background-color: silver;
    height: 45px;
    width: 88%;
}
nav{
	width:95%;
	margin:auto;
}
ul{
	padding:0px;	
}
li{
    list-style-type: none;
}
ul li{
	float:left;
}
ul li a{
	color: black;
	text-decoration:none;
	padding:13px 24px;
	display:block;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a:hover{
	color: gold;
	background-color:#000;	
}
div.svg{
    display: flex;
    justify-content: center;
}
svg{
    margin: auto;
    padding: 0px;
    float: right;
    color: white;   
}